kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: disaster-recovery
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true                # <-------- this allows you to resize the storage PVC
---
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: csi-aws-vsc
driver: ebs.csi.aws.com
deletionPolicy: Delete

